.page-gradient-bg {
	background-image: linear-gradient(-60deg, rgb(255, 255, 255) 50%, rgb(43, 158, 211) 50%);
	/*background-image: linear-gradient(-60deg, rgb(58, 155, 87) 50%, rgb(43, 158, 211) 50%);*/
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
}
	.page-gradient-bg.bg2 {
		transform:translateX(-25%);
	}
	
	.page-gradient-bg.bg3 {
		transform:translateX(25%);
	}
/**
 * Hide image upload field in rich text editor
 */
.note-modal .note-form-group.note-group-select-from-files {
	display: none;
}

.item-list-table td.preview {
	font-size: 50px;
}
	.item-list-table td.preview img {
		max-width: 50px;
		max-height: 50px;
	}

.toast .toast-header {
	background-color: rgba( 101, 207, 207, 80% );
}