* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
}


/* --------------------------
 * Element Styles
 * --------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    min-width: 320px;
    background-color: #fff;
    color: #414042;
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: rgb(75, 75, 75);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

a {
    color: #0083B5;
    /*block-background-text-normal*/
    text-decoration: none;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

a:visited {
    color: #0083B5;
    /* block-normal-text-normal */
}

img {
    max-width: 100%;
    height: auto;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 10px 0;
}

aside {
    background: none;
    margin: 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

aside a,
aside a:visited {
    color: rgb(169, 226, 255);
}

pre,
code {
    font-family: Consolas, Courier, monospace;
    color: #333;
    background: rgb(250, 250, 250);
}

code {
    padding: 0.2em 0.4em;
    white-space: nowrap;
}


/* --------------------------
 * Layout Styles
 * --------------------------
*/


/* Navigation Push Styles */

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.display-flex {
    display: flex;
}


/* --------------------------
 * Top Header
 * --------------------------
*/

#top-header {
    margin: 0px;
    padding: 8px 0;
    background: #E6E7E8;
}

.top-header-inner {
    justify-content: flex-end;
    align-items: center;
}

.site-mob {
    color: #0083B5;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.top-header-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.top-header-menu ul li {
    font-size: 13px;
    line-height: 13px;
    margin: 0px;
    padding: 0 12px;
    border-right: 1px #231F20 solid;
    text-align: center;
}

.top-header-menu ul li:last-child {
    border-right: 0px;
    padding-right: 0;
}

.top-header-menu ul li a {
    color: #231F20;
    display: block;
}


/* --------------------------
 * Header Module Styles
 * --------------------------
*/

#header {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    background: #fff;
}

.header-master {
    justify-content: space-between;
    align-items: center;
}

.site-branding {
    max-width: 250px;
    margin-right: 10px;
}

#main-menu {
    display: flex;
    align-items: center;
}

#main-menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

#main-menu ul li {
    margin: 0px 16px;
    padding: 0px;
}

#main-menu ul li a {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #000000;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
    transition: all 0.3s;
}

#main-menu ul li a:hover {
    border-color: #FFCA05;
}


/* --------------------------
  * Hero Section Styles
  * --------------------------
 */

.hero-inner-section {
    justify-content: space-between;
    align-items: start;
}

.hero-section-left {
    width: 65%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.hero-section-left h1 {
    position: absolute;
    bottom: 50px;
    max-width: 420px;
    width: 100%;
    background: rgb(0 97 155 / 55%);
    color: #fff;
    padding: 10px 15px 13px 40px;
    font-size: 32px;
    line-height: 36px;
    text-align: right;
}

.hero-section-left h1 span {
    font-size: 24px;
    line-height: 28px;
    display: block;
}

.hero-section-right {
    width: 32%;
}

.hero-section-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-section-icon-blocks {
    width: 120px;
    background: #0083B5;
    padding: 20px 10px 10px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 120px;
}

.hero-section-icon-blocks h4 {
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    display: block;
    margin: 0 0 10px 0;
}

.hero-icon-block {
    width: 100%;
    height: 30px;
    text-align: center;
}

.content-about {
    text-align: center;
    margin: 50px 15px;
}

.home-services-section {
    background-color: #F1F2F2;
    padding: 50px 0 0;
    text-align: center;
}

.home-services-section h2 {
    font-size: 28px;
    line-height: 32px;
    color: #0083B5;
    font-weight: 300;
}

.services-slide-block .services-slider h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
    padding: 0px;
    font-weight: 400;
}

.services-slide-block .services-slider h3 a {
    color: #000000;
}

.services-slide-block .services-slider h3 a:hover {
    color: #0083B5;
}

.services-slider-column {
    padding: 10px;
}

.services-slider-column img {
    display: block;
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.services-slide-block .slick-arrow {
    position: absolute;
    left: -40px;
    top: 40%;
    font-size: 0;
    border: none;
    width: 30px;
    height: 30px;
    background: url(../images/left-arrow.svg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.services-slide-block .slick-next.slick-arrow {
    left: inherit;
    right: -40px;
    background: url(../images/right-arrow.svg) no-repeat center center;
    background-size: contain;
}

.service-more {
    position: relative;
    bottom: -24px;
}

.service-more a {
    width: 180px;
    background: #FFCA05;
    color: #000;
    font-size: 21px;
    display: block;
    margin: auto;
    border-radius: 15px;
    padding: 15px 0;
}

.services-slider {
    margin-bottom: 30px;
}

.facilitie-testimonal {
    background: #0083B5;
    margin: 80px 0 0;
    padding: 0px;
}

.facilitie-testimonal-block {
    display: flex;
    align-items: center;
}

.facilitie-left,
.testimonal-slider-block {
    width: 50%;
    padding: 35px 50px;
}

.testimonal-slider-block {
    border-left: 15px #fff solid;
}

.facilitie-left {
    display: flex;
}

.facilitie-left .icon {
    margin-right: 20px;
}

.facilitie-left-content h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px;
    padding: 0px;
}

.facilitie-links {
    display: flex;
}

.facilitie-links a {
    min-width: 120px;
    background: #FFCA05;
    color: #000;
    font-size: 20px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 10px 0 0;
}

.testimonal-slider-block {
    color: #fff;
}

.testimonal-slider-block h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    margin: 10px 0;
}

.testimonals-slider .slick-dots {
    display: flex;
    list-style: none;
    justify-content: end;
}

.testimonals-slider .slick-dots li button {
    background: #FFCA05;
    height: 12px;
    width: 12px;
    margin: 0px;
    padding: 0px;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: none;
    font-size: 0;
    cursor: pointer;
}

.testimonals-slider .slick-dots li {
    margin: 2px;
}

.testimonals-slider .slick-dots li.slick-active button {
    background: #fff;
}

#site-footer {
    padding: 40px 0;
    text-align: center;
}

.footer-top {
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    margin: 10px 0 20px;
}

.footer-top img {
    vertical-align: middle;
    display: inline-block;
}

.footer-top span {
    color: #0083B5;
    font-weight: 400;
}

.footer-bottom {
    color: #808285;
    font-size: 14px;
    line-height: 14px;
}

.footer-bottom span {
    margin-right: 20px;
}

.footer-bottom a {
    color: #808285;
    border-left: 1px #808285 solid;
    padding: 0 20px;
    display: inline-block;
}

.footer-bottom a:hover {
    color: #0083b5;
}