body .sb-topnav {
	border-bottom: 1px solid #194c64;
}

body .sb-sidenav-dark{
	/*background-color: #1e769f;*/
	background-color: #226381;
}

	body .sb-sidenav-dark .sb-sidenav-footer{
		background-color: #194c64;
	}

		body .sb-sidenav-dark .sb-sidenav-footer a.nav-link{
			color: rgba(255, 255, 255, 0.5);
		}
	

body .sb-topnav {
	background-color: #226381 !important;
}

body #sidebarToggle {
	font-size: 1.75rem;
	outline: none;
}